<section class="container mx-auto p-10 items-center flex flex-col">
  <div>
    <div class="flex flex-row items-center">
      <div class="bg-red-500 w-3 h-8 rounded-sm"></div>
      <span class="text-red-500 ml-3">Today's</span>
    </div>
    <div class="flex flex-row items-center">
      <h2 class="text-4xl font-bold my-4">Flash Sales</h2>
      <div
        style="
          left: 0;
          width: 300px;
          height: 0;
          position: relative;
          margin: 0 30px;
        "
      >
        <iframe
          src="https://www.tickcounter.com/widget/countdown/6987592"
          style="
            top: -80px;
            left: 0;
            width: 300px;
            height: 100px;
            position: absolute;
            border: 0;
            overflow: hidden;
          "
          title="My countdown"
        ></iframe>
      </div>
      <div class="icons ms-auto cursor-pointer">
        <i class="fa-solid fa-arrow-circle-left fa-2xl text-gray-200 m-2"></i>
        <i class="fa-solid fa-arrow-circle-right fa-2xl text-gray-200"></i>
      </div>
    </div>
    <div
      class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-12"
    >
      @for (product of allProducts; track product._id) {
      <app-product-card
        [product]="product"
        (addToCart)="addProductToCart($event)"
      ></app-product-card>
      }
    </div>
  </div>
  <button
    class="bg-main text-white p-3 rounded-lg cursor-pointer my-5"
    routerLink="/product-list"
  >
    View All Products
  </button>
</section>
<!--

-->
