<app-top></app-top>
<app-navbar layout="user"></app-navbar>
<section class="container mx-auto p-10">
  <div class="breadcrumb">
    <a routerLink="/home" class="text-gray-400 cursor-pointer">Home</a>
    <span class="text-gray-300 ms-2 me-2">/</span>
    <span class="cursor-pointer text-main">404 Error</span>
  </div>
  <div class="mt-20 mb-20">
    <div class="ms-auto flex flex-col items-center gap-12">
      <h1 class="text-9xl">404 Not Found</h1>
      <p>Your visited page not found. You may go home page.</p>
      <div>
        <button class="main-btn opacity-100 w-90" routerLink="/home">
          Back to home page
        </button>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
