<section class="xl:flex xl:flex-row ">
  <aside
    class=" md:border border-gray-200 md:border-r-2 md:border-t-0 md:border-l-0 md:border-b-0 flex flex-col w-40 ms-10 pt-5 leading-10 cursor-pointer"
  >
    <a>Woman's Fashion <i class="fa-solid fa-angle-right"></i></a>
    <a>Men's Fashion <i class="fa-solid fa-angle-right"></i></a>
    <a>Electronics</a>
    <a>Home & Lifestyle</a>
    <a>Medicine</a>
    <a>Sports & Outdoor</a>
    <a>Baby's and Toys</a>
    <a>Groceries & Pets</a>
    <a>Health & Beauty</a>
  </aside>
  <!--
    <div class="md:hidden">
    <select>
      <option value="Woman's Fashion">
        <a>Woman's Fashion <i class="fa-solid fa-angle-right"></i></a>
      </option>
      <option value="Men's Fashion">
        <a>Men's Fashion <i class="fa-solid fa-angle-right"></i></a>
      </option>
      <option value="Woman's Fashion"><a>Electronics</a></option>
      <option value="Woman's Fashion"><a>Home & Lifestyle</a></option>
      <option value="Woman's Fashion"><a>Medicine</a></option>
      <option value="Woman's Fashion"><a>Sports & Outdoor</a></option>
      <option value="Woman's Fashion"><a>Baby's and Toys</a></option>
      <option value="Woman's Fashion"><a>Groceries & Pets</a></option>
      <option value="Woman's Fashion"><a>Health & Beauty</a></option>
    </select>
  </div>
  -->
  <owl-carousel-o [options]="customOptions" class="w-290 ms-15 mt-15">
    <ng-template carouselSlide
      ><img
        src="/images/3496871f-4998-486f-a8e4-ba7cead6bc3a.avif"
        alt="slider-image-1"
    /></ng-template>
    <ng-template carouselSlide
      ><img
        src="/images/6127c2d5-7d1e-4910-b725-672bdf5a5abe.avif"
        alt="slider-image-2"
    /></ng-template>
    <ng-template carouselSlide
      ><img
        src="/images/7726b5b4-81ee-4b02-800e-9c91cf618df2.avif"
        alt="slider-image-3"
    /></ng-template>
    <ng-template carouselSlide
      ><img
        src="/images/8e99dedb-320f-4010-be1e-f06040fd57ad.avif"
        alt="slider-image-4"
    /></ng-template>
    <ng-template carouselSlide
      ><img
        src="/images/bfcbc31f-8c94-4bd3-945f-5d75459dda82.avif"
        alt="slider-image-5"
    /></ng-template>
  </owl-carousel-o>
</section>
