<footer class="bg-black">
  <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
    <div class="md:flex md:justify-between">
      <div class="mb-6 md:mb-0">
        <a routerLink="/home" class="flex items-center">
          <span
            class="self-center text-3xl font-bold whitespace-nowrap text-white mb-2"
            >Exclusive</span
          >
        </a>
        <h2 class="mb-6 text-sm font-semibold text-white cursor-pointer">Subscribe</h2>
        <h5 class="mb-6 text-sm font-semibold text-white cursor-pointer">
          Get 10% off your first order
        </h5>
        <div class="relative mb-6">
          <div
            class="absolute inset-y-0 end-1 flex items-center ps-3.5 pointer-events-none"
          >
            <i class="fa-solid fa-paper-plane text-white"></i>
          </div>
          <input
            type="text"
            id="input-group-1"
            class="bg-black border border-white text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3"
            placeholder="Enter your email"
          />
        </div>
      </div>
      <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-4">
        <div>
          <h2 class="mb-6 text-sm font-bold text-white">
            Support
          </h2>
          <ul class="text-white font-medium">
            <li class="mb-4">
              <a href="https://flowbite.com/" class="hover:underline">
                111 Bijoy sanari, Bangladesh.</a
              >
            </li>
            <li class="mb-4">
              <a href="#" class="hover:underline"
                >exclusive{{ "@" }}gmail.com</a
              >
            </li>
            <li>
              <a href="#" class="hover:underline">+88015-88888-9999</a>
            </li>
          </ul>
        </div>
        <div>
          <h2 class="mb-6 text-sm font-bold text-white">
            Account
          </h2>
          <ul class="text-white font-medium">
            <li class="mb-4">
              <a class="hover:underline">My Account</a>
            </li>
            <li class="mb-4">
              <a class="hover:underline">Login / Register</a>
            </li>
            <li class="mb-4">
              <a class="hover:underline">Cart</a>
            </li>
            <li class="mb-4">
              <a class="hover:underline">Wishlist</a>
            </li>
            <li>
              <a class="hover:underline">Shop</a>
            </li>
          </ul>
        </div>
        <div>
          <h2 class="mb-6 text-sm font-bold text-white">
            Quick Link
          </h2>
          <ul class="text-white font-medium">
            <li class="mb-4">
              <a href="#" class="hover:underline">Privacy Policy</a>
            </li>
            <li class="mb-4">
              <a href="#" class="hover:underline">Terms Of Use</a>
            </li>
            <li class="mb-4">
              <a href="#" class="hover:underline">FAQ</a>
            </li>
            <li>
              <a href="#" class="hover:underline">Contact</a>
            </li>
          </ul>
        </div>
        <div>
          <h2 class="mb-6 text-sm text-white font-bold">
            Download App
          </h2>
          <ul class="text-gray-500 dark:text-gray-400 font-medium">
            <li class="mb-4">
              <a href="#" class="hover:underline">Save $3 with App New User Only</a>
            </li>
            <li class="flex flex-row gap-2 mb-5">
              <img src="images/png-transparent-qr-code-qr-code-qr-code.png" alt="" class="w-20">
              <div>
                <img src="images/GooglePlay.svg" alt="" class="mb-2">
                <img src="images/app-store.svg" alt="">
              </div>
            </li>
            <li class="flex flex-row gap-5">
              <i class="fa-brands fa-facebook text-white fa-xl cursor-pointer"></i>
              <i class="fa-brands fa-twitter text-white fa-xl cursor-pointer"></i>
              <i class="fa-brands fa-instagram text-white fa-xl cursor-pointer"></i>
              <i class="fa-brands fa-linkedin text-white fa-xl cursor-pointer"></i>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
    <div class="sm:text-center sm:justify-between">
      <span class="text-sm text-gray-500 sm:text-center "
        >© 2023
        <a
          href="https://www.facebook.com/share/1ABQ3XRgwM/"
          class="hover:underline"
          >FawzySerag™</a
        >. All Rights Reserved.
      </span>

    </div>
  </div>
</footer>
