<section class="container mx-auto p-10 items-center">
  <div class="flex flex-row mx-auto w-250 items-center justify-between">
    <div class="flex flex-col items-center">
      <img src="/images/Delivery.png" alt="" class="mb-3">
      <h2 class="text-lg font-bold mb-3">FREE AND FAST DELIVERY</h2>
      <p class="text-sm">Free delivery for all orders over $160</p>
    </div>
    <div class="flex flex-col items-center">
      <img src="/images/support.png" alt="" class="mb-3">
      <h2 class="text-lg font-bold mb-3">24/7 CUSTOMER SERVICE</h2>
      <p class="text-sm">Friendly 24/7 customer support</p>
    </div>
    <div class="flex flex-col items-center">
      <img src="/images/money-back.png" alt="" class="mb-3">
      <h2 class="text-lg font-bold mb-3">MONEY BACK GUARANTEE</h2>
      <p class="text-sm">We return money within 30 days</p>
    </div>
  </div>
</section>

